
   
<!DOCTYPE html>
<html lang="en">
{{> head}}

	<body>
       
		{{{ body }}}



  <!--  Scripts-->

  {{!--<script src="assets/js/apiairvisual.js"></script>--}}
  <script src="assets/js/init.js"></script>

	</body>
</html>