    <div class="d-flex justify-content-between" id="top-row">
      {{!-- <img src="./search/logo.png"> --}}
      <button type="button" id="logout">Log Out</button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" id="savedSearches">Saved Searches</button>
      <button type="button" id="clearSearches">Cleared Searches</button>
    </div>
    <!-- Will need to dynamically populate movie cards and what info we're providing here -->
    <!-- <div class="d-flex justify-content-center" id="card-container"></div> -->

    <div class="d-flex justify-content-center">
      <button type="button" class="genreButton" id="family">Family</button>
      <button type="button" class="genreButton" id="action">Action</button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="genreButton" id="horror">Horror</button>
      <button type="button" class="genreButton" id="drama">Drama</button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="genreButton" id="comedy">Comedy</button>
      <button type="button" class="genreButton" id="romance">Romance</button>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" id="searchPrompt">Search for Movie by Title</button>
      <input type="text" id="movieTitle" placeholder="Enter Movie Title..."></input>
    </div>
  