    <div class="d-flex justify-content-between" id="top-row">
            <a href="search" class='searchBrand'>
              <img src='/images/logo.png' alt='Movie Mania Logo' />
            </a>
      <button type="button" class="btn btn-light" id="logout" onclick="logout()">Log Out</button>
    </div>
    </br>
    </br>
    <a href="favorites" class="d-flex justify-content-center saved-searches">
      <button class="col-12" id="savedSearch">Saved Searches</button>
    </a>

    <!-- Will need to dynamically populate movie cards and what info we're providing here -->

    <!-- DELETE EVERYTHING ABOVE ONCE API IS LINKED PROPERLY -->
    <div class="searchOptions">
      <div class="d-flex justify-content-center">
        <button type="button" class="genreButton col-3" id="family" onclick="familySearch();">Family</button>
        <button type="button" class="genreButton col-3" id="action" onclick="actionSearch();">Action</button>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="genreButton col-3" id="horror" onclick="horrorSearch();">Horror</button>
        <button type="button" class="genreButton col-3" id="drama" onclick="dramaSearch();">Drama</button>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="genreButton col-3" id="comedy" onclick="comedySearch();">Comedy</button>
        <button type="button" class="genreButton col-3" id="romance" onclick="romanceSearch();">Romance</button>
      </div>
      </br>
      </br>
      <div class="d-flex justify-content-center">
        <input type="text" class="col-2" id="movie_input" placeholder="Enter Movie Title..."></input>
        <button type="button" class="col-2" id="movie_search" onclick="movieSearch();">Search for Movie by Title</button>
      </div>
    </div>

    <div class="d-flex favorites" id="card-container">
      {{!-- 
      </div><div class="card" style="height: 35rem; width: 18rem;">
        <img src="../images/notavail.png">
        <div class="card-body">
        <h5 class="card-title">Movie Title</h5>
        <p class="card-text">Release Date.</p>
        <p class="card-text">Movie details about the movie .</p>
        <div class="clk heart">
          <button class="btn btn-primary container-fluid"><i class="far fa-heart"></i></button>
        </div>      
      </div>
      </div> --}}
    </div>

    <button onclick="topFunction()" id="goBackTop" title="Go to top">Go Back to Top</button>
  