body {
  height: 100%;
  background-color: #042a2b;
}

nav {
  color: #fff;
  background-color: #b6d5d3;
  width: 100%;
  height: 110px;
  line-height: 56px;
  padding-top: 7px;
}

.brand img {
  width: 400px;
  height: 400px;
  margin-left: 35%;
}

.searchBrand img {
  width: 400px;
  height: 400px;
  margin: -35% 0;
}

.favorites {
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-card {
  background: rgb(205, 237, 246);
  background: linear-gradient(
    0deg,
    rgba(205, 237, 246, 1) 0%,
    rgba(94, 177, 191, 1) 100%
  );
}

.movie-poster {
  width: 200px;
  height: 300px;
  display: block;
  margin: auto;
  padding-top: 5px;
  justify-content: space-around;
}

#savedSearch {
  margin-right: 10px;
  background-color: #ffd904;
  height: 40px;
  text-align: center;
  text-decoration: none;
}

#savedSearches {
  margin-right: 10px;
  background-color: #ffd904;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
}

#clearSearches:hover {
  background-color: #cdedf6;
  color: #042a2b;
}

.genreButton:hover {
  background-color: #cdedf6;
  color: #042a2b;
}

.statement .mdl-card__media {
  background-image: url('/assets/img/smogbig.png');
}

.mission-statement {
  font-family: 'Oswald', sans-serif;
  color: #ffff;
  font-size: 1.5em;
  margin: 0;
  padding-left: 5px;
}

.movie-card-text {
  font-family: Calibri;
  font-size: 14px;
  margin-top: -10;
}

.saved-searches {
  text-decoration: none;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #00635a;
  font-size: 1.5em;
  margin: 0;
  padding-left: 5px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 3em;
  margin: 0.67em 0;
  padding-left: 20px;
  padding-top: 20px;
}

h6 {
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 1em;
  margin: 0.67em 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* AQI table colors  */

.aqi-green {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-width: 2px;
  padding-left: 15px;
  border-style: solid;
  border-color: #fff;
  background-color: #64e572;
  color: #000000;
}

.aqi-yellow {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-width: 2px;
  padding-left: 15px;
  border-style: solid;
  border-color: #fff;
  background-color: #ffff0d;
  color: #000000;
}

.aqi-orange {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-width: 2px;
  padding-left: 15px;
  border-style: solid;
  border-color: #fff;
  background-color: #ff9c00;
  color: #ffffff;
}

.aqi-red {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-width: 2px;
  padding-left: 15px;
  border-style: solid;
  border-color: #fff;
  background-color: #ff0000;
  color: #ffffff;
}

.aqi-purple {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-width: 2px;
  padding-left: 15px;
  border-style: solid;
  border-color: #fff;
  background-color: #700c8f;
  color: #ffffff;
}

.aqi-maroon {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  border-width: 2px;
  padding-left: 15px;
  border-style: solid;
  border-color: #fff;
  background-color: #820e22;
  color: #ffffff;
}

#logout {
  height: 40px;
  width: 100px;
  margin-right: 4%;
}

#logout:hover {
  background-color: #cdedf6;
  color: #042a2b;
}

.movie-card {
  height: 35rem;
  width: 18rem;
  margin: 5px 5px;
  border: 2px solid #ffd904;
}

.movie-release-date {
  font-style: italic;
  color: #d84727;
}

.saveFavorite {
  margin-top: -10px;
}

.searchOptions {
  padding-top: 5px;
}

#goBackTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#goBackTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
