body{
    background-color: #042a2b
}

#top-row {
    height:15rem;
}

#logout {
    height: 3rem;
    width: 15rem;
    margin-top: 70px;
    margin-right: 80px;
    border-radius: .5rem;
}

#savedSearches{
    height:3rem;
    margin-right:20px;
    width: 33%;
    border-radius: .5rem;
    background-color: #ef7b45;
}

#clearSearches{
    height:3rem;
    border-radius: .5rem;
    background-color:grey;
}

.genreButton {
    height:3rem;
    border-radius: .5rem;
    background-color:#fdfd66;
    width: 15%;
}

#searchPrompt {
    background-color: rgb(189, 189, 189);
    margin-top: 15px;
    height: 2.75rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;

}

#movieTitle {
    margin-top: 15px;
    height: 2.75rem;
    color: #0000ffff;
}

#movieSubmission {
    margin-top: 15px;
    height: 2.75rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: #ef7b45;
}